body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #000000;
  font-size: small;
  background: linear-gradient(90deg, #000000, #ffffff);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #000000;
  color: #f0f0f0;
}
p {
  text-align: start end;
  color: #000000;
  font-size: 12px;
  display: flex;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #ffffff;
}
img {
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.p2 {
  color: #000000;
  font-size: 12px;
  padding: 10px;
  background-color: #ffffff;
}
.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.biography h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.biography p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 10px;
}

.biography img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #000000;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form input[type="submit"]:hover {
  background-color: #333333;
}

image {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-top: 20px;
  padding: 10px;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20px;
  width: 200;
  height: 200;
}

img {
  float: right;
  margin: 10px;
  border: #000000;
  border-radius: 20px;
}
